<?xml version="1.0" encoding="UTF-8"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="config.xsd">
    <listeners>
        <tls-tcp-listener>
            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <tls>
                <keystore>
                    <path>conf/tls/broker-keystore.jks</path>
                    <password>${BROKER_KEYSTORE_PASSWORD}</password>
                    <private-key-password>${BROKER_KEY_PASSWORD}</private-key-password>
                </keystore>
                <truststore>
                    <path>conf/tls/broker-truststore.jks</path>
                    <password>${BROKER_TRUSTSTORE_PASSWORD}</password>
                </truststore>
                <client-authentication-mode>REQUIRED</client-authentication-mode>
                <protocols>
                    <protocol>TLSv1.3</protocol>
                    <protocol>TLSv1.2</protocol>
                </protocols>
            </tls>
        </tls-tcp-listener>
    </listeners>
    <mqtt>
        <session-expiry>
            <max-interval>86400</max-interval>
        </session-expiry>
        <queued-messages>
            <max-queue-size>1000</max-queue-size>
        </queued-messages>
        <message-expiry>
            <max-interval>3600</max-interval>
        </message-expiry>
        <keep-alive>
            <max-keep-alive>30</max-keep-alive>
        </keep-alive>
    </mqtt>
    <persistence>
        <mode>file</mode>
    </persistence>
    <security>
        <enabled>true</enabled>
        <extension>
            <name>hivemq-enterprise-security-extension</name>
            <priority>1000</priority>
            <path>extensions/hivemq-enterprise-security-extension</path>
            <start-priority>1000</start-priority>
            <configuration-file>authorization/config.xml</configuration-file>
        </extension>
    </security>
    <restrictions>
        <max-client-id-length>256</max-client-id-length>
        <max-topic-length>65535</max-topic-length>
    </restrictions>
</hivemq>
