<?xml version="1.0" encoding="UTF-8"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="config.xsd">
    <!--
        DMZ production template. install.sh renders this file to edge-config volume.
        No protocol adapters ship in the base bundle; cloud configuration arrives later.
    -->
    <mqtt-listeners>
        <tls-tcp-listener>
            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <tls>
                <keystore>
                    <path>conf/tls/edge-mqtt-keystore.p12</path>
                    <password>${EDGE_MQTT_KEYSTORE_PASSWORD}</password>
                </keystore>
                <truststore>
                    <path>conf/tls/edge-mqtt-truststore.jks</path>
                    <password>${EDGE_MQTT_TRUSTSTORE_PASSWORD}</password>
                </truststore>
                <client-authentication-mode>REQUIRED</client-authentication-mode>
                <protocols>
                    <protocol>TLSv1.3</protocol>
                    <protocol>TLSv1.2</protocol>
                </protocols>
            </tls>
        </tls-tcp-listener>
    </mqtt-listeners>
    <admin-api>
        <enabled>true</enabled>
        <authentication>
            <enabled>true</enabled>
        </authentication>
        <listeners>
            <tls-tcp-listener>
                <port>8443</port>
                <bind-address>0.0.0.0</bind-address>
                <tls>
                    <keystore>
                        <path>conf/tls/edge-api-keystore.p12</path>
                        <password>${EDGE_API_KEYSTORE_PASSWORD}</password>
                    </keystore>
                    <truststore>
                        <path>conf/tls/edge-api-truststore.jks</path>
                        <password>${EDGE_API_TRUSTSTORE_PASSWORD}</password>
                    </truststore>
                    <client-authentication-mode>NONE</client-authentication-mode>
                    <protocols>
                        <protocol>TLSv1.3</protocol>
                        <protocol>TLSv1.2</protocol>
                    </protocols>
                </tls>
            </tls-tcp-listener>
        </listeners>
    </admin-api>
    <mqtt-bridges>
        <mqtt-bridge>
            <id>${EDGE_ID}-to-cloud</id>
            <remote-broker>
                <host>${CLOUD_MQTT_HOST}</host>
                <port>8883</port>
                <tls>
                    <keystore>
                        <path>conf/tls/bridge-keystore.p12</path>
                        <password>${BRIDGE_KEYSTORE_PASSWORD}</password>
                    </keystore>
                    <truststore>
                        <path>conf/tls/cloud-mqtt-truststore.jks</path>
                        <password>${BRIDGE_TRUSTSTORE_PASSWORD}</password>
                    </truststore>
                    <hostname-verification>true</hostname-verification>
                    <protocols>
                        <protocol>TLSv1.3</protocol>
                        <protocol>TLSv1.2</protocol>
                    </protocols>
                </tls>
                <mqtt>
                    <client-id>${BRIDGE_CLIENT_ID}</client-id>
                    <clean-start>false</clean-start>
                    <session-expiry-interval>86400</session-expiry-interval>
                    <keep-alive>30</keep-alive>
                </mqtt>
            </remote-broker>
            <buffer>
                <enabled>true</enabled>
                <persist>true</persist>
                <max-buffer-size>1073741824</max-buffer-size>
            </buffer>
            <forwarded-topics>
                <forwarded-topic>
                    <filters>
                        <mqtt-topic-filter>${BRIDGE_TOPIC_PREFIX}#</mqtt-topic-filter>
                    </filters>
                    <destination>{#}</destination>
                    <max-qos>1</max-qos>
                    <bootstrap-retained>false</bootstrap-retained>
                    <preserve-retained-messages>true</preserve-retained-messages>
                </forwarded-topic>
            </forwarded-topics>
        </mqtt-bridge>
    </mqtt-bridges>
</hivemq>
